
.hero {
  position: relative;
  height: 70vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.30),
    rgba(10, 10, 20, 0.40)
  );
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 1000px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
}

.hero-content h1 span {
  color: #ff7a18;
}

/* STATS */
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 30px 0 50px;
}

.hero-stats h3 {
  color: #ff7a18;
  font-size: 32px;
  margin-bottom: 6px;
}

.hero-stats p {
  font-size: 20px;
  color: #cbd5e1;
}

/* SEARCH BAR */
.hero-search {
  display: flex;
  align-items: center;
  background: rgba(15, 15, 25, 0.9);
  border-radius: 16px;
  padding: 12px;
  gap: 12px;
  margin-bottom: 50px;
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 16px;
  background: #0f172a;
  border-radius: 12px;
  color: #94a3b8;
  font-size: 25px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

.search-btn {
  background: linear-gradient(90deg, #ff7a18, #ff9f1c);
  border: none;
  padding: 16px 28px;
  border-radius: 14px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* HERO SHRINK WHEN SEARCHING */
.hero-searching {
  height: 250px;
  transition: all 0.5s ease;
}

/* SMOOTH HERO TRANSITION */
.hero {
  transition: all 0.5s ease;
}


/* MOVE SEARCH BAR UP */
.search-top {
  margin-top: 20px;
  transition: 0.5s ease;
}


/* HIDE TITLE SMOOTHLY */
.hide-title {
  opacity: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: 0.4s ease;
}


/* HIDE STATS WHEN SEARCHING */
.hero-searching .hero-stats {
  display: none;
}


/* SEARCH BAR CENTERED INITIALLY */
.hero-search {
  transition: 0.5s ease;
}


/* INPUT BIGGER FOR MODERN LOOK */
.search-box input {
  font-size: 16px;
}
